<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>
        Dash
      </h1>
      <p class="lead">
        <button type="button" class="btn btn-lg btn-outline-info" (click)="onGetReport()">
          Get report
        </button>

        <button type="button" class="btn btn-lg btn-outline-info" (click)="onGetDemoReport()">
          Get DUMMY report
        </button>
      </p>
      <div class="form-check">
        <input [(ngModel)]="useRotate" type="checkbox" class="form-check-input" id="rotateHeadersCheckbox">
        <label class="form-check-label" for="rotateHeadersCheckbox">Rotate table headers</label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="reportData!=null">
    <table class="table table-striped" id="reportTable" #reportTable>
      <thead>
        <th scope="col" class="rotate" >
          <div *ngIf="useRotate; else noRotateBlockCnt">
            <span>Cnt</span>
          </div>
          <ng-template #noRotateBlockCnt>Cnt</ng-template>
        </th>
        <th scope="col" class="rotate" *ngFor="let header of reportData.headers">
          <div *ngIf="useRotate; else noRotateBlock">
            <span>{{header}}</span>
          </div>
          <ng-template #noRotateBlock>{{header}}</ng-template>
        </th>
      </thead>
      <tr *ngFor="let row of reportData.rows; let idx=index">
        <th scope="row">{{idx}}</th>
        <td *ngFor="let cell of row.data">
          {{cell}}
        </td>

      </tr>
    </table>
  </div>
  <div class="row">
    <button type="button" class="btn btn-lg btn-outline-info" (click)="onSelectTable()">
      Select table
    </button>
  </div>
</div>