<div class="row">
  <div class="col-2 col-md-1">
    <button
      class="btn btn-outline-info mb-1 choice-btn btn-gs float-right"
      [class.active]="choice.selected"
      [class.choice-active]="choice.selected"
      type="button"
      value="{{ choice.value }}"
      (click)="onClick()"
    >
      {{ choice.value }}
    </button>
  </div>
  <div class="col-10 col-md-11">
    <div class="choice-detail" [class.speech-bubble]="choice && choice.detail.length > 0">
      {{ choice.detail }}
    </div>
    <div class="choice-desc">
      {{ choice.desc }}
    </div>
  </div>
</div>
