<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>
        Login. Chestionar de auto-evaluare.
      </h1>
      <p>Dacă v-aţi depus deja CV-ul la noi vă rugăm să completaţi acest chestionar în vederea finalizării procesului de
        selecţie pentru programul de practică.</p>
      <p>IMPORTANT: Completaţi formularul doar după depunerea CV-ului în caz contrar formularul nu va fi luat în calcul
        şi va fi şters. De asemenea, depunerea CV-ului fără completarea acestui formular nu este suficientă pentru a fi
        considerat în procesul de selecţie.</p>
      <p>Dacă nu v-aţi depus deja CV-ul şi sunteţi interesaţi de programul de practică, puteţi începe înregistrarea la
        adresa: <a href="https://new.siemens.com/ro/ro/companie/jobs-careers/programe-pentru-studeni-i-absolveni.html">
          https://new.siemens.com/ro/ro/companie/jobs-careers/programe-pentru-studeni-i-absolveni.html</a>
      </p>
      <p>
        Știm că poate nu e ușor să faci evaluarea. Ca să meargă mai repede, ține cont că:
      </p>
      <ul>
        <li>Ne interesează să fie aproximativă, nu 100% precisă. De asta vom avea și un interviu. </li>
        <li>Ne ajută să știm cum să începem interviul.</li>
        <li>Ne va ajuta și mai târziu când vom organiza cursurile.</li>
        <li>Nu e neapărat să îți dai una fix din notele date ca exemplu. Dacă nu știi toate exemplele menționate de noi
          pentru nota 5, poți pune un 4.</li>
        <li>Criteriile nu sunt bătute în cuie. Dacă nu știi ceva ce am notat noi cu 5, dar știi mai multe din ce am
          notat noi cu nota 8, se compensează. Te poți autoevalua cu 5-6-7</li>
        <li>Am notat și câteva exemple de ce ne-am aștepta noi să știe cineva care se autoevalueaza la o anumită notă.
        </li>
      </ul>

      <hr>
      <p class="lead">
        Vă rugăm să introduceți codul primit!
      </p>
      <hr />
      <p>(Please enter your user token)</p>
      <p class="lead input-group-text">
        <input class="form-control" type="text" name="user_token" [(ngModel)]="userToken" (keyup)="onInputTokenChange($event)"
          placeholder="Token..." autofocus />
      </p>
      <p class="lead">
        <button type="button" class="btn btn-lg btn-outline-info" (click)="onProceedClick()">
          Proceed
        </button>
      </p>
    </div>
  </div>
</div>