/* You can add global styles to this file, and also import other style files */

.choice-detail {
  font-size: medium;
  text-align: left;
  font-weight: 500;
}

.choice-desc {
  font-size: smaller;
  text-align: left;
}

.choice-btn {
  /* font-size: larger; */
  padding: 0.5rem 0.75rem;
  width: 2.5rem;
}
.choice-btn-area {
  padding: 0.0rem 0.25rem;
}

.eval-summary {
  background-color: #09a1af;
  color: #fff;
  border-style: solid;
  border-radius: 0.5rem;
  padding-left: 1rem;
}

.speech-bubble {
  position: relative;
  background: #eee;
  border-radius: 0.3em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.35em solid transparent;
  border-right-color: #eee;
  border-left: 0;
  margin-top: -0.35em;
  margin-left: -0.35em;
}

.question-counter {
  text-align: right;
  float: right;
  padding-right: 0.5rem;
}