/*Color styles*/

body {
  background-color: #fff;
  color: #000000;
}

.btn-gs {
  border-color: #3198a7;
  border-radius: 0;
  color: #3198a7;
}

.btn-gs:hover,
.btn-gs:active {
  background-image: linear-gradient(
    to right,
    #54feb7 0%,
    #51f2ca 51%,
    #4de6dd 100%
  );
}

.choice-detail {
  font-size: medium;
  text-align: left;
  font-weight: 500;
}

.choice-desc {
  font-size: smaller;
  text-align: left;
}

.choice-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0;
  width: 3rem;
}

.eval-summary {
  background-color: #aec4c5;
  color: #fff;
  padding-left: 1rem;
}

.list-group-item {
  color: #212529;
  background-color: #fff;
}

.navbar {
  background-color: inherit;
  color: inherit;
}

.speech-bubble {
  position: relative;
  padding-left: 0.3em;
  border-radius: 0.2em;
  border: 0.1em solid #aec4c5;
}

.speech-bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.45em;
  top: 50%;
  border-left: 0.45em solid transparent;
  border-right: 0.45em solid #aec4c5;
  border-top: 0.45em solid transparent;
  border-bottom: 0.45em solid #aec4c5;
  margin-top: -0.45em;
  margin-left: -0.45em;
}
.speech-bubble:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.3em;
  top: 50%;
  border-left: 0.35em solid transparent;
  border-right: 0.35em solid #fff;
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid #fff;
  margin-top: -0.35em;
  margin-left: -0.35em;
}

.question-counter {
  text-align: right;
  float: right;
  padding-right: 0.5rem;
}

th.rotate {
  height: 15rem;
  white-space: nowrap;
}

th.rotate > div {
  transform: translate(0.2rem, -0.4rem) rotate(315deg);
  width: 3rem;
}

th.rotate > div > span {
  border-bottom: 0.1rem solid #aec4c5;
  padding: 0.1rem 0.2rem;
}

input.form-control {
  background-color: #e3f1ee;
  border-radius: 0;
  border-bottom-color: #000000;
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

/*TODO: this may be a bad idea, changing the behavior of the focus*/
input.form-control:focus {
  border-bottom-color: #72c6c6;
  border-color: inherit;
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {

  a {
    font-weight: 700;
    color: #0cc;
  }

  a:hover{
    font-weight: 700;
    color: #00ffb9;
  }

  body {
    background-color: #000028;
    color: #fff;
  }

  .btn-gs {
    background: #001f39;
    border-color: #0cc;
    border-radius: 0;
    color: #0cc;
  }

  .btn-gs:hover,
  .btn-gs:active {
    background: #003866;
    border-color: #00ffb9;
    border-radius: 0;
    color: #00ffb9;
  }

  .list-group-item {
    color: #e0efff;
    background-color: #001f39;
  }

  input.form-control {
    background-color: #001f39;
    border-radius: 0;
    border-bottom-color: #686969;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    color: #fff;
  }
  
  /*TODO: this may be a bad idea, changing the behavior of the focus*/
  input.form-control:focus {
    border-bottom-color: #00ffb9;
  }

  .speech-bubble {
    border: 0.1em solid #aec4c5;
  }
  
  .speech-bubble:before {
    border-right: 0.45em solid #aec4c5;
    border-bottom: 0.45em solid #aec4c5;
  }
  .speech-bubble:after {
    border-right: 0.35em solid #001f39;
    border-bottom: 0.35em solid #001f39;
  }
}
